/* GLOBAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --default-padding: 20px;
    --default-border-radius: 10px;
    --primary-font-color: #dfcb8d;
    --secundary-font-color: #2a2a2b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

/* BODY */
body {
    background-image: url('./img/library.jpg');
    background-size: cover;
}

/* CONTAINER */
.container {
    min-height: 95vh;
    color: var(--primary-font-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'header header'
        'content content';
}

/* CONTAINER - HEADER */
.header {
    grid-area: header;
    padding: var(--default-padding);
    text-align: center;
}

.header h1 {
    font-size: 3rem;
}

/* CONTAINER - CONTENT */
.content {
    grid-area: content;
    display: grid;
    padding: var(--default-padding);
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.books-container .book-box {
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2beb;
    border-radius: var(--default-border-radius);
    gap: 1.25rem;
}

.book-box .book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.book-box span {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    text-align: center;
    font-size: 1.8rem;
}

.book-box .book-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 7px;
}

.book-box button {
    cursor: pointer;
    border-radius: var(--default-border-radius);
    font-size: 1.8rem;
    width: 70%;
    padding: 2%;
    border: none;
    background-color: var(--primary-font-color);
    color: var(--secundary-font-color);
    font-weight: 600;
}

.delete {
    background-color: red;
    color: white;
}

.open-modal {
    cursor: pointer;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-font-color);
    color: var(--secundary-font-color);
    border: 0;
    border-radius: 50%;
    position: fixed;
    bottom: 6%;
    right: 2%;
}

.modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: none;
    border-radius: var(--default-border-radius);
    background-color: #dfcb8d8e;
}

.modal::backdrop {
    background-color: #2a2a2bd7;
}

.modal .modal-content {
    display: flex;
    flex-direction: column;
}

.modal .close-modal {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--secundary-font-color);
    margin: 10px 10px 0 0;
    align-self: flex-end;
}

.close-modal .fa-xmark {
    font-size: 1.25rem;
}

.modal .form {
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal input {
    display: block;
    font-size: 1.5rem;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    border: none;
    outline: none;
    font-weight: 600;
    background-color: var(--secundary-font-color);
    color: var(--primary-font-color);
}

.modal input#pages {
    width: 100%;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal input::placeholder {
    color: var(--primary-font-color);
}

.modal .readQ {
    display: flex;
    align-items: center;
    gap: 10px;
}

.readQ label {
    font-size: 1.5rem;
    color: var(--secundary-font-color);
    font-weight: 600;
}

.readQ input[type='checkbox'] {
    zoom: 2;
    accent-color: var(--secundary-font-color);
}

.modal .add-book {
    cursor: pointer;
    font-size: 1.5rem;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    border: none;
    font-weight: 600;
    background-color: var(--secundary-font-color);
    color: var(--primary-font-color);
}

/* FOOTER */
footer {
    background-color: #1e1b1b74;
    height: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}